    <%= form_for(:session, url: login_path) do |f| %>
     	<div class="row">
		<div class="row col s6">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

    <input type="checkbox" name="session[remember_me]" id="session_remember_me" /> 
    <label for="session_remember_me">Remember me on this computer</label>  <!-- rewrite checkbox in ruby -->

    </div>
  </div>

      <%= f.submit "Log in", class: "btn btn-primary orange darker-1" %>
    <% end %>
