<!-- Switch -->
  <div class="switch">
    <label>
      list
      <input type="checkbox">
      <span class="lever"></span>
      calendar
    </label>
  </div>

<ul class = "my_posts">
<% @cpostings.each do |cp| %>

<li>
<%= link_to cp.title, cp %>
slots filled: <%= cp.subscriptions.count.to_s + "/" + cp.spots.to_s %>
</li>
<% end %>
</ul>



<%= week_calendar number_of_weeks: 2, events: @cpostings do |date, cp| %>
  <%= date %>

  <% cp.each do |c| %>
    <div>
      
      <%= link_to c.title,c %> 
      <%= c.subscriptions.count %>/<%= c.spots %>
    </div>
  <% end %>
<% end %>
</div> 
