
<li id = "cposting-<%= @cposting.id %>">

<h1><%= @cposting.title %></h1>
<h4><%= link_to @cposting.user.name, @cposting.user %></h4>
<h6><%= @cposting.date %></h6>
<%= image_tag @cposting.picture.url if @cposting.picture? %>
<% unless @cposting.full_class? %>
<span class = "spots"><%= pluralize(@spots_left, 'spot') %> left to go </span>
<% end %>


<span class = "content"><%= @cposting.content %> </span>

<% if @cposting.full_class? && !current_user.subscribed?(@cposting) %>
<%= render 'full_class' %>

<% else %>

<%= render 'subscribe_form' %>
<% end %>


</li>

<% if @cposting.subscriptions.any? && current_user.company%>
<%= render 'subscriber_list' %>

<% end %>
