
<h4> upcoming classes </h4> 
<div class = "upcoming-classes">
<ul>
<% if !@cpostings.nil? %>  
  <% @cpostings.take(3).each do |c| %>  
        <li><%= link_to c.title, c %> <%= c.starts_at %> <%= c.subscriptions.count %>/<%= c.spots %>  </li>     
   <% end %>  
<% else %>
You have no upcoming classes!    
  </ul>  
  </div>
  <% end %>
  <%= link_to "view more", my_postings_path  %> || <%= link_to "create new class", new_cposting_path %>

