
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
  <div class="row">
      <div class="row">
		    <div class="row col s8">
          <div class="input-field col s8">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="row col s8">
            <div class="input-field col s8">
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="row col s8">
          <div class="input-field col s8">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="row col s8">
            <div class="input-field col s8">
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
        </div>
      <%= f.submit 'Create my account', class: "btn btn-primary " %>
		</div>

    <% end %>
