<h1> 
<%= current_user.name %>
<%= current_user.company ? "company" : "customer" %>
</h1>

<%= week_calendar number_of_weeks: 2, events: @cpostings do |date, cp| %>
  <%= date %>

  <% cp.each do |c| %>
    <div>
      <%= c.date %>
      <%= link_to c.title,c %> 
      <%= c.subscriptions.count %>/<%= c.spots %>
    </div>
  <% end %>
<% end %>