      <div class="row">
        <div class="col s12 ">
          <div class="card">
            <div class="card-image" style="height: flex;">
              <img src="<%= image_url('cover.jpg')%>">
              <span class="card-title">
              	<h3><%= @user.name %>
			</span>
            </div>
            <div class="card-content">
               	<p class="grey-text darken-3 ">
      <% if @user.description == "-" || @user.description.nil? # - default, sometimes bugs to nil%>
          <%= form_for @user, url: [:change_desc_user], method: :patch do |f| %>
            <%= render 'shared/error_messages', :object => f.object %>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <%= f.submit 'Submit', :class => "btn" %>
          <% end %>
        <% else %>
        <%= simple_format(@user.description) %> </p>
      <% end %>

            </div>
            <div class="card-action">
              <a href="#">Facebook</a> <a href="#">Website</a>
            </div>
          </div>
        </div>
      </div>

<% if @user.company %>
<%= render 'users/upcoming_classes' %>

<% elsif !@user.company && @user == current_user #cust on own profile %>
<%= render 'users/upcoming_subscriptions' %>
<% end %>
