<% if logged_in? %>
 <!-- sidenav -->

        <ul id="slide-out" class="side-nav fixed">
        	<li><%= link_to "my profile", user_path(current_user) %></li>
        	<% if current_user.company? %>
            <li><%= link_to "postings", my_postings_path %> </li>
            <li><%= link_to "templates", templates_path%></li>
            <li><%= link_to "new posting", new_cposting_path %> </li>
            <li><%= link_to "money money money", '#' %></li>
            <% else %>
            <li><%= link_to "my subscriptions", subscriptions_path %> </li>
            <li><%= link_to "view all classes", cpostings_path %> </li>
            <li><%= link_to "customer page", '#' %></li>
            <% end %>
            
          </ul>

<% end %>
