<!DOCTYPE html>
<html>
<head>
  <title>Materitest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <%= render 'layouts/header' %>
 	<%= render 'layouts/sidenav' %>  
<div class="row">

<div class="col s12 offset-s2">

<%= yield %>

 <%= debug(params) if Rails.env.development? %>
 <%= render 'layouts/footer' %>
</div>
</div>
</body>
</html>
