<!DOCTYPE html>
<html>
<head>
  <title>Muzufit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>



<body>
  <header> <%= render 'layouts/header' %></header>
  <main>

    <%= render :partial => 'layouts/sidenav' if params[:controller] == 'cpostings'%>
    <%= render :partial => 'layouts/sidenav' if params[:controller] == 'subscriptions'%>
    <%= render :partial => 'layouts/sidenav' if params[:controller] == 'users'%>

<% if params[:controller] == 'cpostings' or params[:controller] == 'subscriptions' or params[:controller] == 'users' %>
<style>
header, main, footer {
   padding-left: 240px;
}

@media only screen and (max-width : 992px) {
 header, main, footer {
   padding-left: 0;
 }
}
</style>
<% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>

  </main>
<footer class="page-footer orange darken-1"><%= render 'layouts/footer' %></footer>
</body>
</html>
